<% comments.each do |comment| %>
<div id="comment-<%= comment.id %>">
<% if comment.body %>
<div class="posts">
    <div class="posts-left">
        <%# コメントのユーザーの画像 %>
        <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.image_url(:thumb), :size => '80x80', :class => "shadow img-thumbnail rounded-circle" %>
        <% end %>
    </div>
    <div class="posts-right">
        <div class="posts-user-name">
            <%# コメントのユーザー名 %>
            <%= link_to comment.user.name, user_path(comment.user) %>
        </div>
        <div class="comments-items">
            <%# コメント %>
            <%= comment.body.gsub(/\r\n|\r|\n/, "<br />").html_safe %>
            <br>
            <%# コメントの削除ボタン %>
            <% if current_user.id == comment.user.id %>
            <div class="comment-delete font-weight-lighter">
                <%= link_to "[削除]", 
                            post_comment_path(post, comment), 
                            method: :delete, 
                            data: {confirm: '本当に削除しますか？'},:class => "float-right" %>
            </div>
            <div class="clearfix"></div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
</div>
<% end %>