<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="flex-field">
            <%= f.check_box :remember_me, :style=>"width:auto;" %>
            <%= f.label :remember_me %>
          </div>
        </div>
        <% end %>

        <div class="flex">
          <div class="actions">
            <%= f.submit "ログイン" %>
          </div>
          <% end %>
          <div class="link-color">
            <%#= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>