<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <div class="post-user-name">
                <!-- ユーザーの画像が表示されるように、以下のsrcの中を埋めてください -->
                <% if @user.image_url %>
                <%= image_tag @user.image_url(:thumb) %>
                <% else %>
                <%= image_tag '/user_images/default_image.jpg', :size => '100x100' %>
                <% end %>
                <%= link_to(@user.name, user_path(@user)) %>
            </div>
            <p>
                <%= @post.body.gsub(/\r\n|\r|\n/, "<br />").html_safe %>
            </p>
            <div class="post-time">
                <%= @post.created_at.to_s %>
            </div>

            <span class="far fa-comment"></span>
            <span id="comment_count"><%= @comments.count %></span>
            
            <%# いいね機能 %>
            <%= render 'likes/like', post: @post %>

            <% if current_user.id == @post.user.id %>
            <div class="post-menus">
                <%= link_to("[編集]", edit_post_path(@post)) %>
                <%= link_to("[削除]", 
                post_path(@post), 
                method: :delete, 
                data: {confirm: '本当に削除しますか？'}) %>
            </div>
            <% end %>

            <%= form_for([@post, @post.comments.build]) do |f| %>
            <%= f.text_area :body, placeholder:"コメントを書く" %>
            <%= f.submit "コメント", :class => "btn btn-outline-secondary float-right mb-3" %>
            <% end %>
            <div class="clearfix"></div>


            <%= render 'comments/comment', comments: @comments, post: @post %>
        </div>
    </div>
</div>