<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <div class="post-user-name">
                <!-- ユーザーの画像が表示されるように、以下のsrcの中を埋めてください -->
                <% if @user.image_url %>
                <%= image_tag @user.image_url(:thumb) %>
                <% else %>
                <%= image_tag '/user_images/default_image.jpg', :size => '100x100' %>
                <% end %>
                <%= link_to(@user.name, user_path(@user)) %>
            </div>
            <p>
                <%= @post.body.gsub(/\r\n|\r|\n/, "<br />").html_safe %>
            </p>
            <div class="post-time">
                <%= @post.created_at %>
            </div>

            <span class="far fa-comment"></span>
            <%= @comments.count %>
            
            <%# いいね機能 %>
            <%= render 'likes/like', post: @post %>

            <% if current_user.id == @post.user.id %>
            <div class="post-menus">
                <%= link_to("[編集]", edit_post_path(@post)) %>
                <%= link_to("[削除]", 
                post_path(@post), 
                method: :delete, 
                data: {confirm: '本当に削除しますか？'}) %>
            </div>
            <% end %>

            <%= form_for([@post, @post.comments.build]) do |f| %>
            <%# <p> %>
            <%= f.text_area :body, placeholder:"コメントを書く" %>
            <%# </p> %>
            <%= f.submit "コメント", :class => "btn btn-outline-secondary float-right mb-3" %>
            <% end %>
            <div class="clearfix"></div>


            <% @comments.each do |comment| %>
            <% if comment.body %>
            <div class="posts">

                <div class="posts-left">
                <%# コメントのユーザーの画像 %>
                    <%= link_to user_path(comment.user) do %>
                    <%= image_tag comment.user.image_url(:thumb), :size => '80x80', :class => "shadow img-thumbnail rounded-circle" %>
                    <% end %>
                </div>
                <div class="posts-right">
                    <div class="posts-user-name">
                    <%# コメントのユーザー名 %>
                        <%= link_to comment.user.name, user_path(comment.user) %>
                    </div>



                    <div class="comments-items">
                    <%# コメント %>
                        <%= comment.body.gsub(/\r\n|\r|\n/, "<br />").html_safe %>
                        <br>

                        <%# コメントの削除ボタン %>
                        <% if current_user.id == comment.user.id %>
                        <div class="comment-delete font-weight-lighter">
                            <%= link_to "[削除]", 
                            post_comment_path(@post, comment), 
                            method: :delete, 
                            data: {confirm: '本当に削除しますか？'},:class => "float-right" %>
                        </div>
                        <div class="clearfix"></div>
                        <% end %>
                    </div>
                    <% end %>


                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>