<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <div class="post-user-name">
                <!-- ユーザーの画像が表示されるように、以下のsrcの中を埋めてください -->
                <% if @user.image_url %>
                <%= image_tag @user.image_url(:thumb) %>
                <% else %>
                <%= image_tag '/user_images/default_image.jpg', :size => '100x100' %>
                <% end %>
                <%= link_to(@user.name, user_path(@user)) %>
            </div>
            <p>
                <%#= @post.title %>
            </p>
            <p>
                <%= @post.body %>
            </p>
            <div class="post-time">
                <%= @post.created_at %>
            </div>
<span class="far fa-comment"></span>
<%= @comments.count %>
            <%# いいね %>
            <% if Like.find_by(user_id:current_user.id, post_id: @post.id) %>
            <%= link_to(post_like_path(@post, current_user), method: :delete) do %>
            <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
            <% else %>
            <%= link_to(post_likes_path(@post), method: :post) do %>
            <span class="far fa-heart like-btn"></span>
            <% end %>
            <% end %>
            <%# いいね数 %>
            <%= Like.where(post_id: @post.id).count %>

            <% if current_user.id == @post.user.id %>
            <div class="post-menus">
                <%= link_to("[編集]", edit_post_path(@post)) %>
                <%= link_to("[削除]", 
                post_path(@post), 
                method: :delete, 
                data: {confirm: '本当に削除しますか？'}) %>
            </div>
            <% end %>

            <% @comments.each do |comment| %>
            <div class="posts-index-item">
                <%= comment.body %>
                <%= link_to "[削除]", 
                post_comment_path(@post, comment), 
                method: :delete, 
                data: {confirm: '本当に削除しますか？'} %>
            </div>
            <% end %>
            <p>コメントを書く</p>
            <%= form_for([@post, @post.comments.build]) do |f| %>
            <% if @post.errors.full_messages_for(:body).any? %>
            <div class="form-error">
                <%= @post.errors.full_messages_for(:body)[0] %>
            </div>
            <% end %>
            <p>
                <%= f.text_area :body %>
            </p>
            <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>